%script#fileTemplate{type:"text/template"} 
  %p
    %a.openFile{href: '<%= absolutePath %>'.html_safe}
      = image_tag 'file.png'
  %p
    %a.openFile{href: '<%= absolutePath %>'.html_safe}
      <%= title %>
  %p
    %button.delete='Remover'

