#folders
  %form#addFolder{action: '#'}
    %input#filter{type:'text'}
    %button#btn_filter filtrar
    %div
      %p
        %label{for: "path"}
          Url
        %input#path{type: "text"}
        %button#add='Adicionar'
      %p
        %label#path_error
